<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login</title>
</head>
<body>
    <!-- helper file coming from common folder in view -->
    <%- include("common/header");%>
    <h1>this is login page</h1>
</body>
</html>